@import "tailwindcss";

@config "../tailwind.config.ts";


body {
  @apply bg-gray-100 text-gray-900;
  @apply dark:bg-gray-900 dark:text-gray-100;

  /* Isso garante que a página inteira (atrás do seu <main>) 
     também mude de cor. */
}